/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

#__next {
  @apply bg-lightbg dark:bg-darkbg text-black dark:text-white;
  min-height: 100vh;
  transition: 0.2s linear;
}

.my-container {
  @apply max-w-7xl mx-auto px-6 sm:px-8;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40px;
  height: 20px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(18px);
}

.moon {
  color: white;
  font-size: 12px;
  width: 13px;
  position: relative;
  top: -1px;
}

.sun {
  color: yellow;
  font-size: 12px;
  width: 12px;
}

h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

p,
li {
  margin-bottom: 12px;
}

/* Post Code Styling */
.stock button {
  margin-bottom: 20px;
}

.product {
  margin-bottom: 15px;
}

.product input {
  width: 45px;
  margin-top: 3px;
  text-align: center;
}
